@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=hebrew');
//General
.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.vc_row {
  clear: both;
}

body {
  background: url("../img/home_01.jpg") no-repeat fixed 0 0 transparent;
  background-size: cover;
  font-family: 'Varela Round', sans-serif;

}

//Header
header {
  &.landing-header {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
      justify-content: center;
      #logo-flat {
        height: 95px;
      }
    }
  }
}

//Socials
.socials-bar {
  display: flex;
  flex-flow: column;
  @media (max-width: 991px) {
    justify-content: flex-start;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin: 0 5px;
      background-color: $main-color;
      width: 60px;
      border-radius: 50%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.4) 1px 0px 3px 2px;
      transition: all .5s;
      @media (max-width: 991px) {
        width: 30px;
        height: 30px;
        background-color: transparent;
        box-shadow: none;
      }
      &:hover {
        transform: rotate(360deg);
      }
      a {
        i {
          color: $white;

        }
      }
    }
  }
}

.effect-bubba {
  figcaption {
    h2 {
    }
    p {
    }
  }
}

.vc-ihe-panel {
  margin: 10px 0;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fff;
  .front1 {
    > div {
      display: inline-block !important;
      @media (max-width: 991px) {
        display: flex !important;
      }
    }
  }
  .pad {
    position: relative;
    @media (max-width: 991px) {
      display: flex !important;
      justify-content: center;
      align-content: center;
    }
    img {
      padding: 0;
    }
    h4 {
      position: absolute;
      top: 0;
      margin: 0 !important;
      padding: 10px 0;
      width: 100%;
      @include main-color-bg(0.7);
    }
    p {
      font-size: 20px;
      @media (max-width: 991px) {
        font-size: 18px;
        margin: 0 !important;
      }
    }
  }
}

//Form
.form-input {
  input {
    width: 100%;
    height: 40px;
    @include main-color-bg(0.7);
    border: 1px solid $white;
    color: $white;
    padding: 0 5px;
    @media (max-width: 991px) {
      margin: 10px 0;
    }
    &[type="submit"] {
      transition: all .5s;
      &:hover {
        background: $white;
        color: $main-color;
      }
    }
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $white;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $white;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $white;
}

:-moz-placeholder { /* Firefox 18- */
  color: $white;
}

//Footer
.copyright {
  @include main-color-bg(0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $main-color;
  p {
    margin: 0;
  }
  a {
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}

//Mobile
.mobile {
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
}

.header-call {
  font-size: 24px;
  text-align: center;
  @include main-color-bg(0.7);
  a {
    color: $white;
  }
}

//Testimonials
.slick-slider {
  direction: ltr;
  .slick-slide {
    direction: rtl;
  }
}