@import url("https://fonts.googleapis.com/css?family=Varela+Round&subset=hebrew");
.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.vc_row {
  clear: both; }

body {
  background: url("../img/home_01.jpg") no-repeat fixed 0 0 transparent;
  background-size: cover;
  font-family: 'Varela Round', sans-serif; }

header.landing-header {
  margin: 30px 0;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 991px) {
    header.landing-header {
      justify-content: center; }
      header.landing-header #logo-flat {
        height: 95px; } }

.socials-bar {
  display: flex;
  flex-flow: column; }
  @media (max-width: 991px) {
    .socials-bar {
      justify-content: flex-start; } }
  .socials-bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center; }
    .socials-bar ul li {
      margin: 0 5px;
      background-color: #889539;
      width: 60px;
      border-radius: 50%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.4) 1px 0px 3px 2px;
      transition: all .5s; }
      @media (max-width: 991px) {
        .socials-bar ul li {
          width: 30px;
          height: 30px;
          background-color: transparent;
          box-shadow: none; } }
      .socials-bar ul li:hover {
        transform: rotate(360deg); }
      .socials-bar ul li a i {
        color: #fff; }

.vc-ihe-panel {
  margin: 10px 0;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fff; }
  .vc-ihe-panel .front1 > div {
    display: inline-block !important; }
    @media (max-width: 991px) {
      .vc-ihe-panel .front1 > div {
        display: flex !important; } }
  .vc-ihe-panel .pad {
    position: relative; }
    @media (max-width: 991px) {
      .vc-ihe-panel .pad {
        display: flex !important;
        justify-content: center;
        align-content: center; } }
    .vc-ihe-panel .pad img {
      padding: 0; }
    .vc-ihe-panel .pad h4 {
      position: absolute;
      top: 0;
      margin: 0 !important;
      padding: 10px 0;
      width: 100%;
      background-color: rgba(136, 149, 57, 0.7); }
    .vc-ihe-panel .pad p {
      font-size: 20px; }
      @media (max-width: 991px) {
        .vc-ihe-panel .pad p {
          font-size: 18px;
          margin: 0 !important; } }

.form-input input {
  width: 100%;
  height: 40px;
  background-color: rgba(136, 149, 57, 0.7);
  border: 1px solid #fff;
  color: #fff;
  padding: 0 5px; }
  @media (max-width: 991px) {
    .form-input input {
      margin: 10px 0; } }
  .form-input input[type="submit"] {
    transition: all .5s; }
    .form-input input[type="submit"]:hover {
      background: #fff;
      color: #889539; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff; }

.copyright {
  background-color: rgba(136, 149, 57, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #889539; }
  .copyright p {
    margin: 0; }
  .copyright a {
    color: #fff; }
    .copyright a:hover {
      text-decoration: underline; }

.mobile {
  display: none; }
  @media (max-width: 991px) {
    .mobile {
      display: block; } }

.header-call {
  font-size: 24px;
  text-align: center;
  background-color: rgba(136, 149, 57, 0.7); }
  .header-call a {
    color: #fff; }

.slick-slider {
  direction: ltr; }
  .slick-slider .slick-slide {
    direction: rtl; }

/*# sourceMappingURL=main.css.map */
